{
  "presets": ["env", "stage-0", "flow"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src", "./helpers"]
      }
    ],
    [
      "transform-react-jsx",
      {
        "pragma": "h"
      }
    ]
  ]
}
